*{
    box-sizing: border-box;
    font-family: 'RocknRoll One', sans-serif;
    text-decoration: none;
    font-size: 1rem;
}
li{
    list-style: none;
}
a{
    color:rgb(6, 27, 44);
}
.logo_search_nav{
    display: flex;
    justify-content:space-around;
    width: 100%;
    color: white;
    background-color:darkorange;
}


.logo img{
    height:50px;
}
.search{
    display: none;
}
.search span{
    font-size: 25px;
}
.nav{
    line-height: 50px;
    width: 90%;
    margin: 0  auto;
    text-align: center;
}
.nav ul{
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav li{
    padding: 0 20px;
    text-align: center;
    list-style: none;
}

/*メインコンテンツ*/
.main_text_wrap{
    width: 100%;
    text-align: center;
    background-image: url(top.png);
    background-size: cover;
    opacity:0.8 ;
    height:350px;
    z-index: 10;
}
.main_text{
    color:rgb(6, 27, 44);
    font-size: 60px;
    text-shadow: 1px 1px 3px black;
}
.main_text_sub{
    font-size: 32px;
    text-shadow: 1px 1px 3px black;
}
.menu{
    margin:0 auto;
}
.menu_detail{
    display:flex ;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu_detail_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.menu_detail_img{
    width:100%;
    text-align: center;
}
.menu_detail_img img{
    height:120px;
}
.menu_detail_text{
    text-shadow: 1px 1px 3px black;
    text-align: center;
}


.list li{
    text-align: left;
}

/*++メインコンテンツ`disital analog++*/
.digital_wrap{
    border-top: cornflowerblue 1px solid;
    border-bottom: cornflowerblue 1px solid;
    padding:20px;
}
.digital_wrap ul{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.digital_wrap li{
    padding:20px;
}

.analog_wrap{
    border-bottom: cornflowerblue 1px solid;
    padding:20px;
}
.analog_wrap ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.analog_wrap li{
    padding:20px;
}

/*++メインコンテンツ`profile++*/
.prof_wrap{
    display: flex;
    justify-content:stretch;
    flex-wrap: wrap;
    margin: auto 0;
    border-bottom: cornflowerblue 1px solid;
    padding:20px;
}
.prof_img{
    width:50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prof_img img{
    width:100%;
}
.prof_text {
    width:100%;
    padding: 10px;
}

.faq_wrap h2{
    background-color: lemonchiffon;
}
.faq_wrap {
    border-bottom: cornflowerblue 1px solid;
    padding:20px;
}
.buy_wrap{
    padding:20px;
}

/*フッターコンテンツ*/
footer{
    height:30px;
    background-color: darkorange;
}
.foot_text{
    text-align: center;
    color: cornsilk;
    text-shadow: 1px 1px 3px black;
}

#totop{
    position: fixed;
    bottom:0;
    right:0;
}
#totop img{
    width:50px;
}