*{
    box-sizing: border-box;
    font-family: 'RocknRoll One', sans-serif;
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    color:steelblue;
}
.logo_search_nav{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    color: white;
    background-color: cornflowerblue;
}


.logo img{
    height:50px;
}
.search{
    letter-spacing: 20px;
    line-height: 50px;
    display: none;
}
.search span{
    font-size: 25px;
}
.nav{
    width: 70%;
    margin: 0  auto;
    text-align: center;
}
.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav li{
    text-align: center;
    list-style: none;
}

/*メインコンテンツ*/
.main_text_wrap{
    width: 100%;
    text-align: center;
    background-image: url(top.png);
    background-size: cover;
    opacity:0.8 ;
    height:400px;
    z-index: 10;
}
.main_text{
    position:relative; 
    top:100px;
    color:     cornflowerblue ;
    font-size: 60px;
    text-shadow: 1px 1px 3px black;
}
.main_text_sub{
    position:relative; 
    top:180px;
    color:     cornflowerblue ;
    font-size: 32px;
    text-shadow: 1px 1px 3px black;
}
.menu{
    margin:75px
}
.menu_detail{
    display:flex ;
    justify-content: space-around;
}
.menu_detail_box{
    display: flex;
    flex-direction: column-reverse;
    width:30%;
}
.menu_detail_img{
    width:100%;
    text-align: center;
}
.menu_detail_img img{
    height:75px;
}
.menu_detail_text{
    position: relative;
    top:25px;
    left:75px;
    text-shadow: 1px 1px 3px black;
}
.clear{
    clear: both;
}

.list li{
    text-align: left;
}

/*++メインコンテンツ`disital analog++*/
.digital_wrap ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.analog_wrap ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*++メインコンテンツ`profile++*/
.prof_wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.prof_img{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.prof_img img{
    text-align: center;
}
.prof_letter{
    width:65%;
    display: flex;
    text-align: center;
    padding: 0 50px;
    background-color: azure;
}
.prof_title{
    width:70%;
}
.prof_text{
    width:100%;
    padding: 50px;
}
/*フッターコンテンツ*/
footer{
    height:30px;
    background-color: cornflowerblue;
}
.foot_text{
    text-align: center;
    color: cornsilk;
    text-shadow: 1px 1px 3px black;
}