*{
  box-sizing: border-box;
  font-family: 'RocknRoll One', sans-serif;
  text-decoration: none;
}
li{
  list-style: none;
}
a{
    color:steelblue
}
.nav{
  margin: 0  auto;
  color: aliceblue;
  background-color: steelblue;
  display: none;
}
.nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav li{
  font-size: 10px;
  list-style: none;
}


.triangle01 {
  display: table;
  width: 100%;
  height: 250px;
  background-color: gold;
  transform: skewY(-10deg);
  margin-top: 10vw;
}
 
.triangle01 p {
  display: table-cell;
  vertical-align: middle;
  text-align: end;
  font-size:50px;
  font-weight: bold;
  color:aliceblue;
} 
.triangle01 > * {
  transform: skewY(10deg);
}
.triangle02 {
  display: table;
  width: 100%;
  height: 250px;
  background-color: steelblue;
  transform: skewY(10deg);
  margin-top: 10vw;
}
.triangle02 > * {
  transform: skewY(-10deg);
}




.nav_main{

  margin: 100px 0 50px 0;
  color: black;
}
.nav_main ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav_main li{
  font-size: 10px;
}

aside{
  font-size: 12px;
}
.news_wrap{
  font-size: 15px;
  border-top: gold 1px solid;
  border-bottom: gold 1px solid;
  padding:50px 20px;
  line-height: 20px;
}
/*++メインコンテンツ`disital analog++*/
.digital_wrap{
  font-size: 15px;
  border-bottom: gold 1px solid;
  padding:50px 20px;
  line-height: 20px;
}
.digital_wrap ul{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
.digital_wrap li{
  padding:0px;
}

.analog_wrap{
  font-size: 15px;
  border-bottom: gold 1px solid;
  padding:50px 20px;
  line-height: 20px;
}
.analog_wrap ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.analog_wrap li{
  padding:0px;
}
.analog_img img{
  width:200px;
}
/*++メインコンテンツ`profile++*/
.prof_wrap{
  font-size: 15px;
  display: flex;
  justify-content:stretch;
  flex-wrap: wrap;
  margin: auto 0;
  border-bottom: gold 1px solid;
  padding:50px 20px;
  line-height: 20px;
}
.prof_img{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.prof_img img{
  width:100%;
}
.prof_text {
  width:50%;
  padding: 10px;
}

@media screen and (max-width:768px) {
  .prof_text {
      width:100%;
  }
}

.faq_wrap h2{
  background-color: gold;
}
.faq_wrap {
  font-size: 15px;
  border-bottom: gold 1px solid;
  padding:50px 20px;
}
.faq_wrap li{
  list-style: none;
}
.buy_top{
  display: flex;
  flex-direction: row;
  padding:50px 20px;

}
.buy_wrap{
  font-size: 15px;
  padding:50px 20px;
}

.buy_wrap ul{
  padding:20px;

}
.tweet_tl{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:768px) {
  .buy_top{
      display: flex;
      flex-direction: column;
      padding:50px 20px;
  }
}
/*フッターコンテンツ*/
footer{
  font-size: 15px;
  height:30px;
  background-color: steelblue;
}
.foot_text{
  text-align: center;
  color: cornsilk;
  text-shadow: 1px 1px 3px black;
}

#totop{
  position: fixed;
  bottom:0;
  right:0;
}
#totop img{
  width:50px;
}